nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav #right * {
    margin-left: 1rem;
}

#view-count {
	font-weight: bolder;
	text-decoration: underline;
	cursor: pointer;
}
